table {
  border-collapse: collapse;
}

tr {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

td, th {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.young,
.mature,
.total,
.count,
.pass,
.fail,
.retention {
  text-align: right;
}

.young {
  color: #64C476;
}

.mature {
  color: #31A354;
}

.total {
  color: var(--fg);
}

.count {
  color: var(--fg-subtle);
}

.pass {
  color: #3BC464;
}

.fail {
  color: #C43b3b;
}

.retention {
  color: var(--fg);
}

.row-header {
  color: var(--fg);
}
