[*]
end_of_line = lf

[*.bat]
end_of_line = crlf

[*.kt]
# We often have block comments representing implementation details after KDocs.
# This feels like an acceptable commenting strategy
ktlint_standard_no-consecutive-comments = disabled

# TODO: move this to detekt when 2.0.0 is stable (handles Kotlin 2.3.21)
ktlint_standard_no-unused-imports = enabled

# These lines add significant verbosity to the codebase. The PR introducing these rules (19817)
# added 2k LOC to the codebase, often quadrupling the number of lines:
#
#             PreviewerAction.MARK -> viewModel.toggleMark()
# became:
#             PreviewerAction.MARK -> {
#                 viewModel.toggleMark()
#             }
#             <blank line>
#
# https://pinterest.github.io/ktlint/latest/rules/standard/#when-entry-bracing
ktlint_standard_when-entry-bracing = disabled
# https://pinterest.github.io/ktlint/latest/rules/standard/#blank-line-between-when-conditions
ktlint_standard_blank-line-between-when-conditions = disabled

# Jetpack Compose convention: @Composable functions are named in PascalCase
# (they return Unit and behave like UI declarations rather than regular functions).
# Tell ktlint's function-naming rule to skip any function annotated @Composable.
# https://pinterest.github.io/ktlint/latest/rules/standard/#function-naming
ktlint_function_naming_ignore_when_annotated_with = Composable

