@use 'fusion_vars';

.isWin {
    button {
        font-size: 12px;
    }
}

.isMac {
    button {
        font-size: 13px;
    }
}

.isLin {
    button {
        font-size: 14px;

        -webkit-appearance: none;
        padding: 5px;
        border: 1px solid var(--border);
        border-radius: 3px;
    }
}

.nightMode {
    button {
        -webkit-appearance: none;
        color: var(--text-fg);
        /* match the fusion button gradient */
        background: linear-gradient(
            0deg,
            fusion_vars.$button-gradient-start 0%,
            fusion_vars.$button-gradient-end 100%
        );

        padding: 3px 10px;
        border: 1px solid fusion_vars.$button-border;
        border-radius: 2px;
        box-shadow: 0 0 3px fusion_vars.$button-outline;
    }

    button:hover {
        background: fusion_vars.$button-hover-bg;
    }
}

/* imitate standard macOS dark mode buttons */
.isMac.nightMode.macos-dark-mode button:not(.linkb) {
    color: #e5e5e5;
    background: #656565;

    padding: 2px 15px;
    border: 0;
    border-top-color: #848484;
    border-top-width: 0.5px;
    box-shadow: 0 1px 2px #222222;

}
