/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

:root {
    --text-fg: black;
    --window-bg: #ececec;
    --frame-bg: white;
    --border: #aaa;
    --medium-border: #b6b6b6;
    --faint-border: #e7e7e7;
    --link: #00a;
    --review-count: #0a0;
    --new-count: #00a;
    --learn-count: #c35617;
    --zero-count: #ddd;
    --slightly-grey-text: #333;
    --highlight-bg: #77ccff;
    --highlight-fg: black;
    --disabled: #777;
    --flag1-fg: #e25252;
    --flag2-fg: #ffb347;
    --flag3-fg: #54c414;
    --flag4-fg: #578cff;
    --flag5-fg: #ff82ee;
    --flag6-fg: #00d1b5;
    --flag7-fg: #9649dd;
    --flag1-bg: #ff9b9b;
    --flag2-bg: #ffb347;
    --flag3-bg: #93e066;
    --flag4-bg: #9dbcff;
    --flag5-bg: #f5a8eb;
    --flag6-bg: #7edbd7;
    --flag7-bg: #cca3f1;
    --buried-fg: #aaaa33;
    --suspended-fg: #dd0;
    --suspended-bg: #ffffb2;
    --marked-bg: #cce;
    --tooltip-bg: #fcfcfc;
}

:root[class*="night-mode"] {
    --text-fg: white;
    --window-bg: #2f2f31;
    --frame-bg: #3a3a3a;
    --border: #777;
    --medium-border: #444;
    --faint-border: #29292b;
    --link: #77ccff;
    --review-count: #5ccc00;
    --new-count: #77ccff;
    --learn-count: #ff935b;
    --zero-count: #444;
    --slightly-grey-text: #ccc;
    --highlight-bg: #77ccff;
    --highlight-fg: white;
    --disabled: #777;
    --flag1-fg: #ff7b7b;
    --flag2-fg: #f5aa41;
    --flag3-fg: #86ce5d;
    --flag4-fg: #6f9dff;
    --flag5-fg: #f097e4;
    --flag6-fg: #5ccfca;
    --flag7-fg: #9f63d3;
    --flag1-bg: #aa5555;
    --flag2-bg: #ac653a;
    --flag3-bg: #559238;
    --flag4-bg: #506aa3;
    --flag5-bg: #975d8f;
    --flag6-bg: #399185;
    --flag7-bg: #624b77;
    --buried-fg: #777733;
    --suspended-fg: #ffffb2;
    --suspended-bg: #aaaa33;
    --marked-bg: #77c;
    --tooltip-bg: #272727;
}
