@use 'vars';

$body-color: var(--text-fg);
$body-bg: var(--window-bg);

$link-hover-color: var(--link);
$link-hover-decoration: none;

@import "ts/sass/bootstrap/bootstrap-reboot";
@import "ts/sass/bootstrap/bootstrap-utilities";

body,
html {
    overscroll-behavior: none;
}
