@use 'fusion-vars';

.isWin {
    button {
        font-size: 12px;
    }
}

.isMac {
    button {
        font-size: 13px;
    }
}

.isLin {
    button {
        font-size: 14px;

        -webkit-appearance: none;
        border-radius: 3px;
        padding: 5px;
        border: 1px solid var(--border);
    }
}

.nightMode {
    button {
        -webkit-appearance: none;
        color: var(--text-fg);

        /* match the fusion button gradient */
        background: linear-gradient(
            0deg,
            fusion-vars.$button-gradient-start 0%,
            fusion-vars.$button-gradient-end 100%
        );
        box-shadow: 0 0 3px fusion-vars.$button-outline;
        border: 1px solid fusion-vars.$button-border;

        border-radius: 2px;
        padding: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    button:hover {
        background: fusion-vars.$button-hover-bg;
    }
}

/* imitate standard macOS dark mode buttons */
.isMac.nightMode.macos-dark-mode button:not(.linkb) {
    background: #656565;
    box-shadow: 0 1px 2px #222222;
    border-top-color: #848484;
    border-top-width: 0.5px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    color: #e5e5e5;
}
