/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

@use 'vars';

* {
    box-sizing: border-box;
}

body {
    color: var(--text-fg);
    background: var(--window-bg);
    margin: 1em;
    transition: opacity 0.5s ease-out;
    overscroll-behavior: none;
}

a {
    color: var(--link);
    text-decoration: none;
}
