/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

@use 'vars';
@use 'fusion-vars';

@mixin night-mode {
    &::-webkit-scrollbar {
        background-color: var(--window-bg);

        &:horizontal {
            height: 12px;
        }

        &:vertical {
            width: 12px;
        }
    }

    &::-webkit-scrollbar-thumb {
        background: fusion-vars.$button-hover-bg;
        border-radius: 8px;

        &:horizontal {
            min-width: 50px;
        }

        &:vertical {
            min-height: 50px;
        }
    }

    &::-webkit-scrollbar-corner {
        background-color: var(--window-bg);
    }
}
