/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */
@use "vars" as *;
@use "sass:color";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

@mixin impressed-shadow($intensity) {
    box-shadow: inset 0 calc(var(--buttons-size) / 15) calc(var(--buttons-size) / 5)
        rgba(black, $intensity);
}

@mixin btn-border-radius {
    border-top-left-radius: var(--border-left-radius);
    border-bottom-left-radius: var(--border-left-radius);

    border-top-right-radius: var(--border-right-radius);
    border-bottom-right-radius: var(--border-right-radius);
}

@mixin button($with-hover: true, $with-active: true, $with-disabled: true) {
    button,
    /* legacy classes */
    .btn-day,
    .btn-night,
    .linkb {
        -webkit-appearance: none;
        border: 1px solid var(--button-border);

        color: var(--fg);
        background: linear-gradient(
            180deg,
            var(--button-gradient-start) 0%,
            var(--button-gradient-end) 100%
        );

        @if ($with-hover) {
            &:hover,
            &.hover {
                background: linear-gradient(
                    180deg,
                    var(--button-hover-gradient-start) 0%,
                    var(--button-hover-gradient-end) 100%
                );
                border-color: var(--button-hover-border);
            }
        }

        @if ($with-active) {
            &:active,
            &.active {
                @include impressed-shadow(0.35);
            }

            &:active.active {
                box-shadow: none;
                border-color: var(--button-border);
            }
        }

        @if ($with-disabled) {
            &[disabled] {
                color: var(--fg-disabled);
                background-color: var(--button-gradient-end) !important;
                box-shadow: none !important;
                border-color: var(--button-gradient-end) !important;
            }
        }
    }
}

$focus-color: color(shadow-focus);

@function down-arrow($color) {
    @return url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='transparent' stroke='#{$color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}
