/* night-mode-specific colours */
$button-gradient-start: #3f3f3f;
$button-gradient-end: #363636;
$button-outline: #202020;
$button-hover-bg: #404040;
$button-border: #202020;
$button-base-bg: #343434;
