/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */
@use "vars";
@use "sass:color";
@use "button-mixins" as button;

@mixin base {
    @include button.border-radius;
    padding: 0.2rem 0.75rem;
    line-height: 1.5;
    height: var(--buttons-size, 100%);
}

@mixin select($with-disabled: true) {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;

    pointer-events: all;
    cursor: pointer;

    @include button.base($with-disabled: $with-disabled);
    @include base;

    border-radius: var(--border-radius);

    &.rtl {
        direction: rtl;
    }
}
