/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

:root {
    --border-radius-default: 5px;
    --scrollbar-handle-width: 12px;
    --scrollbar-handle-length: 50px;
    --scrollbar-radius: 6px;
}

:root[class*="night-mode"] {
    --border-radius-default: 5px;
}
