@use "vars";
@use "button-mixins" as button;
@use "elevation";

:root {
    --focus-color: #{vars.palette-of(shadow-focus)};

    .isMac {
        --focus-color: rgba(0 103 244 / 0.247);
    }
}

.isWin {
    button {
        font-size: 12px;
    }
}

.isMac {
    button {
        font-size: 13px;
    }
}

button {
    outline: none;
    @include button.base;
    @include elevation.elevation(2);
    border-radius: var(--border-radius-large);
    padding: 6px 12px;
    font-weight: 500;
    margin: 0 4px;
}
