.review-count {
    color: var(--review-count);
}

.new-count {
    color: var(--new-count);
}

.learn-count {
    color: var(--learn-count);
}

.zero-count {
    color: var(--zero-count);
}

.bury-count {
    color: var(--disabled);
    font-weight: bold;
    margin-inline-start: 2px;

    &:empty {
        display: none;
    }
}
