/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

@mixin input {
    background-color: var(--frame-bg);
    border-color: var(--border);

    &:focus {
        background-color: var(--window-bg);
    }
}
