/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

@mixin input {
    background-color: var(--canvas-elevated);
    border-color: var(--border-default);

    &:focus {
        background-color: var(--canvas-default);
    }
}
