/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

@use "colors";
@use "props";
@use "fusion-vars";

@mixin custom {
    ::-webkit-scrollbar {
        background-color: var(--window-bg);

        &:horizontal {
            height: var(--scrollbar-handle-width);
        }

        &:vertical {
            width: var(--scrollbar-handle-width);
        }
    }

    ::-webkit-scrollbar-thumb {
        background: var(--control-idle);
        border-radius: var(--scrollbar-radius);

        &:horizontal {
            min-width: var(--scrollbar-handle-length);
        }

        &:vertical {
            min-height: var(--scrollbar-handle-length);
        }

        &:hover {
            background: var(--control-hover);
        }

        &:active {
            background: var(--control-active);
        }
    }

    ::-webkit-scrollbar-corner {
        background-color: var(--window-bg);
    }

    ::-webkit-scrollbar-track {
        border-radius: var(--scrollbar-radius);
        background-color: transparent;
    }
}
