#image-occlusion-container {
    position: relative;
    // if height-constrained, ensure container is centered
    margin: 0 auto;
    // allow for 20px margin on html element, or short windows can truncate
    // image
    max-height: calc(95vh - 40px);
}

#image-occlusion-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // remove the default image limits, as we rely on container
    max-width: unset;
    max-height: unset;
}

#image-occlusion-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
