common --enable_platform_specific_config
common --experimental_repository_cache_hardlinks

# runfiles are off by default on Windows, and we need them
build --enable_runfiles

# skip the slow zip step on Windows, as we have symlinks
build:windows --build_python_zip=false

# record version/build hash
build --workspace_status_command='bash ./tools/status.sh'

# run clippy when compiling rust in test mode
test --aspects=@rules_rust//rust:defs.bzl%rust_clippy_aspect --output_groups=+clippy_checks

# print output when test fails
test --test_output=errors

# don't add empty __init__.py files
build --incompatible_default_to_explicit_init_py

# custom output for CI
build:ci --show_timestamps --isatty=0 --color=yes --show_progress_rate_limit=5

# 'opt' config is an alias for building with optimizations
build:opt -c opt

# the TypeScript workers on Windows choke when deps are changed while they're
# still running, so shut them down at the end of the build.
build:windows --worker_quit_after_build

# place convenience symlinks inside a single folder for easier exclusion in IDEs
build --symlink_prefix=.bazel/

# if (auto-created) windows.bazelrc exists, import it
try-import %workspace%/windows.bazelrc

# allow extra user customizations in a separate file
# (see .user.bazelrc for an example)
try-import %workspace%/user.bazelrc
