common --enable_platform_specific_config
common --experimental_repository_cache_hardlinks

# specify python path on Windows for pyo3 compile
build:windows --action_env="PYTHON_SYS_EXECUTABLE=c:\\python\\python.exe"

# runfiles are off by default on Windows, and we need them
build --enable_runfiles

# skip the slow zip step on Windows, as we have symlinks
build:windows --build_python_zip=false

# record version/build hash
build --workspace_status_command='bash ./scripts/status.sh'

# run clippy when compiling rust in test mode
test --aspects=@io_bazel_rules_rust//rust:rust.bzl%rust_clippy_aspect --output_groups=clippy_checks

# print output when test fails
test --test_output=errors

# don't add empty __init__.py files
build --incompatible_default_to_explicit_init_py

# faster for .ui file generation, but may sacrifice correctness
#--genrule_strategy=standalone

build:ci --show_timestamps --isatty=0 --color=yes --show_progress_rate_limit=5

try-import %workspace%/user.bazelrc
