__pycache__
.mypy_cache
.DS_Store
anki.prof
target
/user.bazelrc
.dmypy.json
/.idea/
/.vscode
/.bazel
/windows.bazelrc
/out
node_modules
.n2_db
.ninja_log
.ninja_deps
/extra
yarn-error.log
ts/.svelte-kit
.yarn
.claude/settings.local.json
.claude/user.md
