[submodule "ftl/core-repo"]
	path = ftl/core-repo
	url = https://github.com/ankitects/anki-core-i18n.git
	shallow = true
[submodule "ftl/qt-repo"]
	path = ftl/qt-repo
	url = https://github.com/ankitects/anki-desktop-ftl.git
	shallow = true
[submodule "briefcase-windows-template"]
	path = qt/installer/windows-template
	url = https://github.com/ankitects/briefcase-windows-app-template
	branch = anki
	shallow = true
