[MESSAGES CONTROL]
disable=C,R,
  fixme,
  unused-wildcard-import,
  attribute-defined-outside-init,
  redefined-builtin,
  wildcard-import,
  broad-except,
  bare-except,
  unused-argument,
  unused-variable,
  redefined-outer-name,
  global-statement,
  protected-access,
  arguments-differ,
