[MASTER]
ignore-patterns=.*_pb2.*
persistent = no
extension-pkg-whitelist=orjson,PyQt6
init-hook="import sys; sys.path.extend(['pylib/anki/_vendor', 'out/qt'])"

[REPORTS]
output-format=colorized

[MESSAGES CONTROL]
disable=
  R,
  line-too-long,
  too-many-lines,
  missing-function-docstring,
  missing-module-docstring,
  missing-class-docstring,
  import-outside-toplevel,
  wrong-import-position,
  wrong-import-order,
  fixme,
  unused-wildcard-import,
  attribute-defined-outside-init,
  redefined-builtin,
  wildcard-import,
  broad-except,
  bare-except,
  unused-argument,
  unused-variable,
  redefined-outer-name,
  global-statement,
  protected-access,
  arguments-differ,
  arguments-renamed,
  consider-using-f-string,
  invalid-name,
  broad-exception-raised

[BASIC]
good-names =
  id,
  tr,
  db,
  ok,
  ip,

[IMPORTS]
ignored-modules = anki.*_pb2, anki.sync_pb2, win32file,pywintypes,socket,win32pipe,pyaudio,anki.scheduler_pb2,anki.notetypes_pb2
