language: python
python:
  - "3.6"
install: 
  - sudo apt-get update
  - sudo apt-get install portaudio19-dev
  - pip install -r requirements.txt
  - pip install nose

script: nosetests ./tests --processes=16
