[Desktop Entry]
Name=Anki
Comment=An intelligent spaced-repetition memory training program
GenericName=Language Learning Flashcards
Exec=anki %f
TryExec=anki
Icon=anki
Categories=Education;Languages;KDE;
Terminal=false
Type=Application
Version=1.0
