@use "sass/root-vars";
@import "sass/base";

body {
    padding: 0 1em 1em 1em;
}

@media only screen and (max-width: 600px) {
    body {
        padding: 0;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
}

button {
    margin-bottom: 5px;
}
