/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

@use '../sass/core';

:root {
    --area-fill: #000000;
    --area-fill-opacity: 0.03;
    --area-stroke: #000000;
    --area-stroke-opacity: 0.08;
}

:root[class*="night-mode"] {
    --area-fill: #ffffff;
    --area-fill-opacity: 0.08;
    --area-stroke: #000000;
    --area-stroke-opacity: 0.18;
}

* {
    overscroll-behavior: none;
}

.no-domain-line .domain {
    opacity: 0.05;
}

.tick {
    line {
        opacity: 0.1;
    }

    text {
        opacity: 0.5;
        font-size: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .tick text {
        font-size: 13px;
    }
}
@media only screen and (max-width: 600px) {
    body {
        font-size: 12px;
    }

    .tick text {
        font-size: 16px;
    }

    .tick-odd {
        display: none;
    }
}

.hoverzone rect {
    fill: none;
    pointer-events: all;
}

.hoverzone rect:hover {
    fill: grey;
    opacity: 0.05;
}

.no-data {
    text {
        text-anchor: middle;
        fill: grey;
    }
    rect {
        fill: var(--window-bg);
    }
}

.centered {
    display: flex;
    justify-content: center;
}

.align-end {
    text-align: end;
}

.align-start {
    text-align: start;
}

.no-focus-outline:focus {
    outline: 0;
}

.clickable {
    cursor: pointer;
}
