@use "sass/root-vars";
@import "sass/base";

button {
    margin-bottom: 5px;
    overflow: hidden;
}

/* uncomment after 2.1.55 release
 body.graphs-fullscreen {
    .fullscreen-wrapper:not(.fullscreen) {
        display: none;
    }
} */
