To run, change to this folder in a terminal and run the following command:

./bin/Anki

- To install system wide, run 'sudo ./install.sh'
- To remove in the future, run 'sudo ./uninstall.sh' from the same folder.

To play and record audio, mpv and lame must be installed. If mpv is not
installed or too old, Anki will try to fall back on using mplayer.

If Anki fails to start, please run it from a terminal to see what errors it
outputs, and then post on our support site.
