@use 'vars';

.isWin {
  button {
    font-size: 12px;
  }
}

.isMac {
  button {
    font-size: 13px;
  }
}

.isLin {
  button {
    font-size: 14px;

    -webkit-appearance: none;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid vars.$day-border;
  }
}

.nightMode {
  button {
    -webkit-appearance: none;
    color: vars.$night-text-fg;

    /* match the fusion button gradient */
    background: linear-gradient(0deg,
            vars.$fusion-button-gradient-start 0%,
            vars.$fusion-button-gradient-end 100%);
    box-shadow: 0 0 3px vars.$fusion-button-outline;
    border: 1px solid vars.$night-faint-border;

    border-radius: 3px;
    padding: 5px;
  }

  button:hover {
    background: vars.$fusion-button-hover-bg;
  }
}
