$day-text-fg: black;
$day-window-bg: #ececec;
$day-frame-bg: white;
$day-border: #aaa;
$day-faint-border: #e7e7e7;
$day-link: #00a;
$day-review-count: #0a0;
$day-new-count: #00a;
$day-learn-count: #C35617;
$day-zero-count: #ddd;
$day-slightly-grey-text: #333;
$day-highlight-bg: #77ccff;
$day-highlight-fg: black;
$day-disabled: #777;
$day-flag1-bg: #ffaaaa;
$day-flag2-bg: #ffb347;
$day-flag3-bg: #82E0AA;
$day-flag4-bg: #85C1E9;
$day-suspended-bg: #FFFFB2;
$day-marked-bg: #cce;

$night-text-fg: white;
$night-window-bg: #2f2f31;
$night-frame-bg: #3a3a3a;
$night-border: #777;
$night-faint-border: #29292B;
$night-link: #77ccff;
$night-review-count: #5CcC00;
$night-new-count: #77ccff;
$night-learn-count: #FF935B;
$night-zero-count: #444;
$night-slightly-grey-text: #ccc;
$night-highlight-bg: #77ccff;
$night-highlight-fg: white;
$night-disabled: #777;
$night-flag1-bg: #aa5555;
$night-flag2-bg: #aa6337;
$night-flag3-bg: #33a055;
$night-flag4-bg: #3581a9;
$night-suspended-bg: #aaaa33;
$night-marked-bg: #77c;

/* night-mode-specific colours */
$fusion-button-gradient-start: #555555;
$fusion-button-gradient-end: #656565;
$fusion-button-outline: #222222;
$fusion-button-hover-bg: #656565;
$fusion-button-border: #646464;
$fusion-button-base-bg: #454545;