/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

@use 'core';
@use 'buttons';

// core.scss sets border-box, but we need to
// keep the old behaviour for now to avoid breaking
// add-ons/card templates
* {
    box-sizing: content-box;
}

body {
    margin: 2em;
    overscroll-behavior: none;
}

h1 {
    margin-bottom: 0.2em;
}

body.nightMode {
    &::-webkit-scrollbar {
        background: var(--window-bg);

        &:horizontal {
            height: 12px;
        }

        &:vertical {
            width: 12px;
        }
    }

    &::-webkit-scrollbar-thumb {
        background: buttons.$fusion-button-hover-bg;
        border-radius: 8px;

        &:horizontal {
            min-width: 50px;
        }

        &:vertical {
            min-height: 50px;
        }
    }
}

body.nightMode .editor {
    &::-webkit-scrollbar {
        background: var(--window-bg);

        &:horizontal {
            height: 12px;
        }

        &:vertical {
            width: 12px;
        }
    }

    &::-webkit-scrollbar-thumb {
        background: buttons.$fusion-button-hover-bg;
        border-radius: 8px;

        &:horizontal {
            min-width: 50px;
        }

        &:vertical {
            min-height: 50px;
        }
    }
}
