/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

@use 'vars';
@use 'buttons';

body {
    margin: 2em;
    color: vars.$day-text-fg;

    // currently this is injected via webview.py to try to match the
    // system background color
    //    background: vars.$day-window-bg;
}

h1 {
    margin-bottom: 0.2em;
}

a {
    color: vars.$day-link;
}

body.nightMode {
    color: vars.$night-text-fg;
    background: vars.$night-window-bg;
}

.nightMode {
    a {
        color: vars.$night-link;
    }
}
