button.linkb {
    -webkit-appearance: none;
    margin-bottom: -3px;
    border: 0;
    box-shadow: none;
    padding: 0px 2px;
    background: transparent;

    &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }
}

button:focus {
    outline: none;
}

button.highlighted {
    #topbutsleft & {
        background-color: lightgrey;

        .nightMode & {
            background: linear-gradient(0deg, #333333 0%, #434343 100%);
        }
    }
}
