:root {
    --foreground-color: black;
}

.forecolor {
    color: var(--foreground-color);
}

.rainbow {
    background: linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);

    background-clip: content-box;
    /* Boostrap .rounded has .25rem */
    border-radius: 0.375rem;
}
