:root {
    --foreground-color: black;
}

.forecolor {
    color: var(--foreground-color) !important;
}

.rainbow {
    background: content-box
            linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
        content-box
            linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
        content-box
            linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%),
        border-box white;
}
