@use "sass/bootstrap-dark";

@import "sass/base";

@import "sass/bootstrap/scss/alert";
@import "sass/bootstrap/scss/buttons";
@import "sass/bootstrap/scss/button-group";
@import "sass/bootstrap/scss/close";
@import "sass/bootstrap/scss/grid";
@import "sass/bootstrap-forms";

.night-mode {
    @include bootstrap-dark.night-mode;
}

body {
    width: min(100vw, 70em);
    margin: 0 auto;
    padding: 1em;
    // pad out the underside of the footer
    padding-bottom: 5em;
}

html {
    overflow-x: hidden;
}
