video {
    max-width: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

@font-face {
    font-family: "Noto Sans Mono";
    src: url("file:///android_asset/fonts/noto/NotoSansMono.ttf")
}

#typeans {
  width: 100%;
  font-family: "Noto Sans Mono";
}