appdirs==1.4.4
    # via black
astroid==2.4.2
    # via pylint
atomicwrites==1.4.0 ; sys_platform == "win32"
    # via
    #   -r requirements.in
    #   pytest
attrs==20.3.0
    # via
    #   jsonschema
    #   pytest
beautifulsoup4==4.9.3
    # via -r requirements.in
black==20.8b1
    # via -r requirements.in
certifi==2020.12.5
    # via requests
chardet==4.0.0
    # via requests
click==7.1.2
    # via
    #   black
    #   flask
    #   pip-tools
colorama==0.4.4 ; sys_platform == "win32"
    # via
    #   -r requirements.in
    #   pylint
    #   pytest
compare-locales==8.1.0
    # via -r requirements.in
decorator==4.4.2
    # via -r requirements.in
distro==1.5.0
    # via -r requirements.in
flask-cors==3.0.9
    # via -r requirements.in
flask==1.1.2
    # via
    #   -r requirements.in
    #   flask-cors
fluent.syntax==0.18.1
    # via
    #   -r requirements.in
    #   compare-locales
idna==2.10
    # via requests
iniconfig==1.1.1
    # via pytest
isort==5.7.0
    # via
    #   -r requirements.in
    #   pylint
itsdangerous==1.1.0
    # via flask
jinja2==2.11.2
    # via flask
jsonschema==3.2.0
    # via -r requirements.in
lazy-object-proxy==1.4.3
    # via astroid
markdown==3.3.3
    # via -r requirements.in
markupsafe==1.1.1
    # via jinja2
mccabe==0.6.1
    # via pylint
mock==4.0.3
    # via -r requirements.in
mypy-extensions==0.4.3
    # via
    #   black
    #   mypy
mypy-protobuf==1.23
    # via -r requirements.in
mypy==0.790
    # via -r requirements.in
orjson==3.4.6
    # via -r requirements.in
packaging==20.8
    # via pytest
pathspec==0.8.1
    # via black
pip-tools==5.5.0
    # via -r requirements.in
pluggy==0.13.1
    # via pytest
protobuf==3.14.0
    # via
    #   -r requirements.in
    #   mypy-protobuf
psutil==5.8.0 ; sys_platform == "win32"
    # via -r requirements.in
py==1.10.0
    # via pytest
pylint==2.6.0
    # via -r requirements.in
pyparsing==2.4.7
    # via packaging
pyrsistent==0.17.3
    # via jsonschema
pysocks==1.7.1
    # via requests
pytest==6.2.1
    # via -r requirements.in
pytoml==0.1.21
    # via compare-locales
pywin32==300 ; sys_platform == "win32"
    # via -r requirements.in
regex==2020.11.13
    # via black
requests[socks]==2.25.1
    # via -r requirements.in
send2trash==1.5.0
    # via -r requirements.in
six==1.15.0
    # via
    #   astroid
    #   compare-locales
    #   flask-cors
    #   jsonschema
    #   protobuf
snakeviz==2.1.0
    # via -r requirements.in
soupsieve==2.1
    # via beautifulsoup4
stringcase==1.2.0
    # via -r requirements.in
toml==0.10.2
    # via
    #   black
    #   pylint
    #   pytest
tornado==6.1
    # via snakeviz
typed-ast==1.4.2
    # via
    #   black
    #   mypy
typing-extensions==3.7.4.3
    # via
    #   black
    #   mypy
urllib3==1.26.2
    # via requests
waitress==2.0.0b1
    # via -r requirements.in
werkzeug==1.0.1
    # via flask
winrt==1.0.20239.1 ; sys_platform == "win32" and platform_release == "10" and python_version == "3.8"
    # via -r requirements.in
wrapt==1.12.1
    # via astroid

# The following packages are considered to be unsafe in a requirements file:
pip==20.3.3
    # via pip-tools
setuptools==51.1.1
    # via jsonschema

# manually added for now; ensure it and the earlier winrt are not removed on update
winrt==1.0.20330.1; sys.platform == "win32" and platform_release == "10" and python_version >= "3.9"
