beautifulsoup4
black
compare-locales
decorator
distro
flask
flask-cors
isort
jsonschema
markdown
mock
mypy
mypy-protobuf
orjson
pip-tools
protobuf
pylint
pytest
requests[socks]
send2trash
snakeviz
stringcase
waitress>=2.0.0
fluent.syntax
types-decorator
types-flask
types-markdown
types-orjson
types-protobuf
types-requests
types-waitress

# windows only
psutil; sys.platform == "win32"
pywin32; sys.platform == "win32"
winrt; sys.platform == "win32" and platform_release == "10"

# transitive windows dependencies
atomicwrites; sys.platform == "win32" # via pytest
colorama; sys.platform == "win32" # via pylint, pytest
