beautifulsoup4
black
decorator
distro
flask
flask-cors
isort
jsonschema
markdown
mock
mypy
mypy-protobuf
orjson
pip-tools
protobuf
pylint
pytest
requests[socks]
send2trash
snakeviz
stringcase
waitress
fluent-syntax

# windows only
psutil; sys.platform == "win32"
pywin32; sys.platform == "win32"

# transitive windows dependencies
atomicwrites; sys.platform == "win32" # via pytest
colorama; sys.platform == "win32" # via pylint, pytest
