@use "sass/vars";
@use "sass/bootstrap-dark";

@import "sass/base";

@import "sass/bootstrap/scss/alert";
@import "sass/bootstrap/scss/buttons";
@import "sass/bootstrap/scss/button-group";
@import "sass/bootstrap/scss/close";
@import "sass/bootstrap/scss/grid";
@import "sass/bootstrap-forms";

.night-mode {
    @include bootstrap-dark.night-mode;
}

body {
    width: min(100vw, 70em);
    margin: 0 auto;
}

html {
    overflow-x: hidden;
}

#main {
    padding: 0 1em 1em 1em;
    height: 100vh;
}

// override the default down arrow colour in <select> elements
.night-mode select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}
