[package]
name = "makeexe"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
publish = false
rust-version.workspace = true

[dependencies]
anyhow.workspace = true
camino.workspace = true
clap.workspace = true
tugger-windows-codesign.workspace = true
walkdir.workspace = true
