@use "sass/vars";
@use "sass/bootstrap-dark";

@import "sass/base";

@import "bootstrap/scss/alert";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/grid";
@import "sass/bootstrap-forms";

.night-mode {
    @include bootstrap-dark.night-mode;
}

html {
    overflow: hidden;
}

/** consistent font size **/
:root {
    --font-size: 16px;
}
body {
    font-size: 16px;
}
