#image-occlusion-container {
    position: relative;
}

#image-occlusion-container img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#image-occlusion-canvas {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}