$day-fg: black;
$day-bg: white;
$day-tooltip-bg: #fcfcfc;
$night-fg: white;
$night-bg: #222;
$night-tooltip-bg: #272727;

* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: $day-bg;
    color: $day-fg;
}

.graph-tooltip {
    position: absolute;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    color: $day-fg;
    background: $day-tooltip-bg;
}

.graph-tooltip table {
    border-spacing: 1em 0;
}

.graph {
    margin-left: auto;
    margin-right: auto;
    max-width: 60em;
    page-break-inside: avoid;
}

.graph h1 {
    text-align: center;
}

.no-domain-line .domain {
    opacity: 0.05;
}

.tick {
    line {
        opacity: 0.1;
    }

    text {
        opacity: 0.5;
        font-size: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .tick text {
        font-size: 13px;
    }
}
@media only screen and (max-width: 600px) {
    .tick text {
        font-size: 15px;
    }
}

.range-box {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 4em;
    color: $day-fg;
    background: $day-bg;
    padding: 0.5em;
}

@media print {
    .range-box {
        position: absolute;
    }
}

.range-box-pad {
    height: 4em;
}

.range-box-inner {
    display: flex;
    justify-content: center;
}

@media only screen and (max-device-width: 480px) and (orientation: portrait) {
    .range-box-inner {
        font-size: smaller;
    }
}

.range-box-inner > * {
    padding-right: 1em;
}

.graph .area {
    opacity: 0.05;
    pointer-events: none;
    fill: $day-fg;
}

.hoverzone rect {
    fill: none;
    pointer-events: all;
}

.hoverzone rect:hover {
    fill: grey;
    opacity: 0.05;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.spin {
    position: absolute;
    animation: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    display: inline-block;
    font-size: 2em;
    opacity: 0;
}

.spin.active {
    opacity: 0.5;
    transition: opacity 1s;
}

.legend-outer {
    text-align: center;
}

.subtitle {
    text-align: center;
}

body.night-mode {
    background: $night-bg;
    color: $night-fg;
}

.no-data {
    text {
        text-anchor: middle;
        fill: grey;
    }
    rect {
        fill: $day-bg;
    }
}

.night-mode {
    .graph-tooltip {
        background: $night-tooltip-bg;
        color: $night-fg;
    }
    .range-box {
        background: $night-bg;
        color: $night-fg;
    }
    .graph .area {
        fill: $night-fg;
        opacity: 0.1;
    }
    .no-data rect {
        fill: $night-bg;
    }
}

.centered {
    display: flex;
    justify-content: center;
}

.align-end {
    text-align: end;
}

.align-start {
    text-align: start;
}
