:root {
  --text-fg: black;
  --window-bg: #ececec;
  --frame-bg: white;
  --border: #aaa;
  --faint-border: #e7e7e7;
  --link: #00a;
  --review-count: #0a0;
  --new-count: #00a;
  --learn-count: #C35617;
  --zero-count: #ddd;
  --slightly-grey-text: #333;
  --highlight-bg: #77ccff;
  --highlight-fg: black;
  --disabled: #777;
  --flag1-bg: #ffaaaa;
  --flag2-bg: #ffb347;
  --flag3-bg: #82E0AA;
  --flag4-bg: #85C1E9;
  --suspended-bg: #FFFFB2;
  --marked-bg: #cce;
}

:root[class*="night-mode"] {
  --text-fg: white;
  --window-bg: #2f2f31;
  --frame-bg: #3a3a3a;
  --border: #777;
  --faint-border: #29292B;
  --link: #77ccff;
  --review-count: #5CcC00;
  --new-count: #77ccff;
  --learn-count: #FF935B;
  --zero-count: #444;
  --slightly-grey-text: #ccc;
  --highlight-bg: #77ccff;
  --highlight-fg: white;
  --disabled: #777;
  --flag1-bg: #aa5555;
  --flag2-bg: #aa6337;
  --flag3-bg: #33a055;
  --flag4-bg: #3581a9;
  --suspended-bg: #aaaa33;
  --marked-bg: #77c;
}
