$day-text-fg: black;
$day-window-bg: #ececec;
$day-frame-bg: white;
$day-border: #aaa;
$day-faint-border: #e7e7e7;
$day-link: #00a;
$day-review-count: #0a0;
$day-new-count: #00a;
$day-learn-count: #C35617;
$day-zero-count: #ddd;
$day-slightly-grey-text: #333;
$day-highlight-bg: #77ccff;
$day-highlight-fg: black;
$day-disabled: #777;
$day-flag1-bg: #ffaaaa;
$day-flag2-bg: #ffb347;
$day-flag3-bg: #82E0AA;
$day-flag4-bg: #85C1E9;
$day-suspended-bg: #FFFFB2;
$day-marked-bg: #cce;

$night-text-fg: white;
$night-window-bg: #2f2f31;
$night-frame-bg: #3a3a3a;
$night-border: #777;
$night-faint-border: #29292B;
$night-link: #77ccff;
$night-review-count: #5CcC00;
$night-new-count: #77ccff;
$night-learn-count: #FF935B;
$night-zero-count: #444;
$night-slightly-grey-text: #ccc;
$night-highlight-bg: #77ccff;
$night-highlight-fg: white;
$night-disabled: #777;
$night-flag1-bg: #aa5555;
$night-flag2-bg: #aa6337;
$night-flag3-bg: #33a055;
$night-flag4-bg: #3581a9;
$night-suspended-bg: #aaaa33;
$night-marked-bg: #77c;


:root {
  --text-fg: #{$day-text-fg};
  --window-bg: #{$day-window-bg};
  --frame-bg: #{$day-frame-bg};
  --border: #{$day-border};
  --faint-border: #{$day-faint-border};
  --link: #{$day-link};
  --review-count: #{$day-review-count};
  --new-count: #{$day-new-count};
  --learn-count: #{$day-learn-count};
  --zero-count: #{$day-zero-count};
  --slightly-grey-text: #{$day-slightly-grey-text};
  --highlight-bg: #{$day-highlight-bg};
  --highlight-fg: #{$day-highlight-fg};
  --disabled: #{$day-disabled};
  --flag1-bg: #{$day-flag1-bg};
  --flag2-bg: #{$day-flag2-bg};
  --flag3-bg: #{$day-flag3-bg};
  --flag4-bg: #{$day-flag4-bg};
  --suspended-bg: #{$day-suspended-bg};
  --marked-bg: #{$day-marked-bg};
}

:root[class*="night-mode"] {
  --text-fg: #{$night-text-fg};
  --window-bg: #{$night-window-bg};
  --frame-bg: #{$night-frame-bg};
  --border: #{$night-border};
  --faint-border: #{$night-faint-border};
  --link: #{$night-link};
  --review-count: #{$night-review-count};
  --new-count: #{$night-new-count};
  --learn-count: #{$night-learn-count};
  --zero-count: #{$night-zero-count};
  --slightly-grey-text: #{$night-slightly-grey-text};
  --highlight-bg: #{$night-highlight-bg};
  --highlight-fg: #{$night-highlight-fg};
  --disabled: #{$night-disabled};
  --flag1-bg: #{$night-flag1-bg};
  --flag2-bg: #{$night-flag2-bg};
  --flag3-bg: #{$night-flag3-bg};
  --flag4-bg: #{$night-flag4-bg};
  --suspended-bg: #{$night-suspended-bg};
  --marked-bg: #{$night-marked-bg};
}
