@use 'ts/sass/scrollbar';

anki-editable {
    display: block;
    overflow-wrap: break-word;
    overflow: auto;
    padding: 6px;

    &:empty::after {
        content: "\a";
        white-space: pre;
    }

    * {
        max-width: 100%;
    }
}

p {
    margin-top: 0;
    margin-bottom: 1rem;

    &:empty::after {
        content: "\a";
        white-space: pre;
    }
}

:host-context(.nightMode) * {
    @include scrollbar.night-mode;
}

img.drawing {
    zoom: 50%;

    .nightMode & {
        filter: unquote("invert() hue-rotate(180deg)");
    }
}
