/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

@use 'base';
@use 'scrollbar';
@use 'button-mixins';

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.nightMode {
    @include scrollbar.night-mode;
}

#fields {
}

#dupes,
#cloze-hint {
    position: sticky;
    bottom: 0;

    text-align: center;
    background-color: var(--window-bg);

    a {
        color: var(--link);
    }
}

.icon > svg {
    fill: var(--text-fg);
}

.pin-icon {
    cursor: pointer;

    &.is-inactive {
        opacity: 0.2;
    }

    &.icon--hover {
        opacity: 0.5;
    }
}

@import "codemirror/lib/codemirror";
@import "codemirror/theme/monokai";
@import "codemirror/addon/fold/foldgutter";

.CodeMirror {
    height: auto;
    border-radius: 0 0 5px 5px;
    padding: 6px 0;
}
