/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */
@use "sass:color";
@use "../lib/sass/button-mixins" as button;

.linkb {
    $size: var(--buttons-size);

    @include button.base;
    @include button.border-radius;

    min-width: $size;
    height: $size;
    font-size: calc($size * 0.6);
    position: relative;

    img.topbut {
        $padding: 4px;
        $icon-size: calc(100% - 2 * $padding);

        position: absolute;
        height: $icon-size;
        width: $icon-size;

        // replace with inset once Qt5 support is dropped
        top: $padding;
        right: $padding;
        bottom: $padding;
        left: $padding;

        .nightMode & {
            filter: invert(1);
        }
    }
}

button {
    @include button.base($active-class: active);
}
