/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */
@use "sass/vars";
@use "sass:color";
@use "sass/button-mixins" as button;

$size: var(--buttons-size);
$padding: 2px;

.linkb {
    width: $size;
    height: $size;
    padding: $padding;
    font-size: calc($size * 0.6);
}

@include button.base($selector: ".linkb");

img.topbut {
    max-width: calc($size - 2 * $padding);
    max-height: calc($size - 2 * $padding);
    vertical-align: baseline;
    .nightMode & {
        filter: invert(1);
    }
}
