@use "sass/scrollbar";

* {
    max-width: 100%;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;

    &:empty::after {
        content: "\a";
        white-space: pre;
    }
}

[hidden] {
    display: none;
}

:host(.night-mode) {
    @include scrollbar.night-mode;
}
