@use 'scrollbar';

* {
    max-width: 100%;

    :host(.nightMode) & {
        @include scrollbar.night-mode;
    }
}

p {
    margin-top: 0;
    margin-bottom: 1rem;

    &:empty::after {
        content: "\a";
        white-space: pre;
    }
}

anki-mathjax {
    white-space: pre;
}

[hidden] {
    display: none;
}
