@use "../lib/sass/scrollbar";

* {
    max-width: 100%;
    min-height: 1.5em;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;

    &:empty::after {
        content: "\a";
        white-space: pre;
    }
}

[hidden] {
    display: none;
}

:host(body),
:host(body) * {
    @include scrollbar.custom;
}

pre {
    white-space: pre-wrap;
}

// image size constraints
img:not(.mathjax) {
    &:not([data-editor-shrink="false"]) {
        :host-context(.shrink-image) & {
            max-width: var(--editor-default-max-width);
            max-height: var(--editor-default-max-height);
            // prevent inline width/height from skewing aspect ratio
            width: unset;
            height: unset;
        }
    }

    &[data-editor-shrink="true"] {
        max-width: var(--editor-shrink-max-width);
        max-height: var(--editor-shrink-max-height);
    }
}
