@use "ts/sass/vars";
@use "ts/sass/scrollbar";
@use "ts/sass/bootstrap-dark";

@import "ts/sass/base";
@import "ts/sass/bootstrap/dropdown";
@import "ts/sass/bootstrap/forms";
@import "ts/sass/bootstrap/buttons";
@import "ts/sass/bootstrap/button-group";
@import "ts/sass/bootstrap/modal";
@import "ts/sass/bootstrap/close";
@import "ts/sass/bootstrap/alert";
@import "ts/sass/bootstrap/tooltip";

.night-mode {
    @include scrollbar.night-mode;
    @include bootstrap-dark.night-mode;
}

// the unprefixed version wasn't added until Chrome 81
.form-select {
    -webkit-appearance: none;
}

body {
    width: min(100vw, 35em);
    margin: 0 auto;
    // leave some space for rounded screens
    margin-bottom: 2em;
}

html {
    overflow-x: hidden;
}

#main {
    padding: 0.5em;
    padding-top: 0;
}

.tooltip-inner {
    max-width: 300px;
    text-align: left;
}

// the default code color in tooltips is difficult to read; we'll probably
// want to add more of our own styling in the future
code {
    color: var(--flag1-bg);
}
