@use "ts/sass/vars";
@use "ts/sass/scrollbar";
@use "ts/sass/bootstrap-dark";

@import "ts/sass/base";
@import "ts/sass/bootstrap/containers";
@import "ts/sass/bootstrap/grid";
@import "ts/sass/bootstrap/dropdown";
@import "ts/sass/bootstrap/forms";
@import "ts/sass/bootstrap/buttons";
@import "ts/sass/bootstrap/button-group";
@import "ts/sass/bootstrap/modal";
@import "ts/sass/bootstrap/close";
@import "ts/sass/bootstrap/alert";
@import "ts/sass/bootstrap/tooltip";
@import "ts/sass/bootstrap/badge";

.night-mode {
    @include scrollbar.night-mode;
    @include bootstrap-dark.night-mode;
}

.form-control,
.form-select {
    line-height: 1;
    // the unprefixed version wasn't added until Chrome 81
    -webkit-appearance: none;
}

.tooltip-inner {
    max-width: 300px;
    text-align: left;

    p {
        margin: 0.8em 0.4em 0.8em 0.8em;
    }
}

// the default code color in tooltips is difficult to read; we'll probably
// want to add more of our own styling in the future
code {
    color: #ffaaaa;
}
