/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

@use "sass/card-counts";

a.deck {
    color: var(--fg-default);
    text-decoration: none;
    min-width: 5em;
    display: inline-block;
}

a.deck:hover {
    text-decoration: underline;
}

tr.deck td {
    border-bottom: 1px solid var(--border-subtle);
}

tr.top-level-drag-row td {
    border-bottom: 1px solid transparent;
}

td {
    white-space: nowrap;
}

tr.drag-hover td {
    border-bottom: 1px solid var(--border-default);
}

body {
    margin: 1em;
    -webkit-user-select: none;
}

.current {
    background-color: var(--canvas-elevated);
}

.decktd {
    min-width: 15em;
    max-width: calc(100vw - 300px);
    overflow: hidden;
}

.count {
    min-width: 4em;
    text-align: right;
}

.optscol {
    width: 2em;
}

.collapse {
    color: var(--fg-default);
    text-decoration: none;
    display: inline-block;
    width: 1em;
}

.filtered {
    color: var(--accent-link) !important;
}

.gears {
    width: 1em;
    height: 1em;
    opacity: 0.5;
    padding-top: 0.2em;
}

.nightMode {
    .gears {
        filter: invert(180);
    }
}

.callout {
    background: var(--border-default);
    padding: 1em;
    margin: 1em;

    div {
        margin: 1em;
    }
}
