@use "../../../../../ts/lib/sass/root-vars";
@use "../../../../../ts/lib/sass/vars" as *;
@use "../../../../../ts/lib/sass/card-counts";
@use "../../../../../ts/lib/sass/elevation" as *;

.deck-table {
    padding: 1rem;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    .fancy & {
        border: 1px solid var(--border-subtle);
        border-radius: var(--border-radius-medium);

        @include elevation(1, $opacity-boost: -0.08);
        &:hover {
            @include elevation(2);
        }
        background: var(--canvas-glass);
    }
}

a.deck {
    color: color(fg);
    text-decoration: none;
    min-width: 5em;
    display: inline-block;
}

a.deck:hover {
    text-decoration: underline;
}

.deck-row {
    display: grid;
    grid-template-columns:
        minmax(15em, 1fr)
        4em
        4em
        4em
        2em;

    align-items: center;
}

.deck-header {
    font-weight: bold;
    border-bottom: 1px solid color(border-subtle);
    padding-bottom: 5px;
}

.deck-cell {
    padding: 1px 12px;
    border-bottom: 1px solid var(--border-subtle);
    white-space: nowrap;

    .fancy & {
        border: unset;
        padding: 4px 12px;
    }
}

.top-level-drag-row .deck-cell {
    grid-column: 1 / -1;
    border-bottom: 1px solid transparent;
}

.current,
.deck-row:hover:not(.top-level-drag-row) {
    .deck-cell {
        background: color(border-subtle);
        &:first-child {
            border-top-left-radius: prop(border-radius-medium);
            border-bottom-left-radius: prop(border-radius-medium);
        }
        &:last-child {
            border-top-right-radius: prop(border-radius-medium);
            border-bottom-right-radius: prop(border-radius-medium);
        }
        .gears {
            visibility: visible;
        }
    }
}

[dir="rtl"] {
    .current,
    .deck-row:hover:not(.top-level-drag-row) {
        .deck-cell {
            background: color(canvas-inset);
            &:first-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-top-right-radius: prop(border-radius-medium);
                border-bottom-right-radius: prop(border-radius-medium);
            }
            &:last-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-top-left-radius: prop(border-radius-medium);
                border-bottom-left-radius: prop(border-radius-medium);
            }
        }
    }
}

.decktd {
    min-width: 15em;
    max-width: calc(100vw - 300px);
    overflow: hidden;
}

.deck-title,
.decktd {
    text-align: start;
}


.count {
    text-align: right;
}

.optscol {
    text-align: center;
}

.collapse {
    color: color(fg);
    text-decoration: none;
    display: inline-block;
    width: 1em;
}

.filtered {
    color: color(fg-link) !important;
}

.gears {
    width: 1em;
    height: 1em;
    opacity: 0.5;
    padding-top: 0.2em;
    cursor: pointer;
    visibility: hidden;
}

.nightMode {
    .gears {
        filter: invert(180);
    }
}

.callout {
    background: color(border);
    padding: 1em;
    margin: 1em;

    div {
        margin: 1em;
    }
}

#studiedToday {
    margin: 2em 0;
}
