/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */
@use "sass/root-vars";
@use "sass/vars" as *;
@use "sass/card-counts";

a.deck {
    color: color(fg);
    text-decoration: none;
    min-width: 5em;
    display: inline-block;
}

a.deck:hover {
    text-decoration: underline;
}

th {
    border-bottom: 1px solid color(border-subtle);
    padding-bottom: 5px;
}

tr.deck td {
    padding: 5px 12px;
}

tr.top-level-drag-row td {
    border-bottom: 1px solid transparent;
}

td {
    white-space: nowrap;
}

tr.drag-hover td {
    border-bottom: 1px solid color(border);
}

body {
    margin: 2em 1em 1em 1em;
    -webkit-user-select: none;
}

.current,
tr:hover:not(.top-level-drag-row) {
    td {
        background: color(canvas-inset);
        &:first-child {
            border-top-left-radius: prop(border-radius-large);
            border-bottom-left-radius: prop(border-radius-large);
        }
        &:last-child {
            border-top-right-radius: prop(border-radius-large);
            border-bottom-right-radius: prop(border-radius-large);
        }
        .gears {
            visibility: visible;
        }
    }
}
[dir="rtl"] {
    .current,
    tr:hover:not(.top-level-drag-row) {
        td {
            background: color(canvas-inset);
            &:first-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-top-right-radius: prop(border-radius-large);
                border-bottom-right-radius: prop(border-radius-large);
            }
            &:last-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-top-left-radius: prop(border-radius-large);
                border-bottom-left-radius: prop(border-radius-large);
            }
        }
    }
}

.decktd {
    min-width: 15em;
    max-width: calc(100vw - 300px);
    overflow: hidden;
}

.count {
    min-width: 4em;
    text-align: right;
}

.optscol {
    width: 2em;
}

.collapse {
    color: color(fg);
    text-decoration: none;
    display: inline-block;
    width: 1em;
}

.filtered {
    color: color(fg-link) !important;
}

.gears {
    width: 1em;
    height: 1em;
    opacity: 0.5;
    padding-top: 0.2em;
    cursor: pointer;
    visibility: hidden;
}

.nightMode {
    .gears {
        filter: invert(180);
    }
}

.callout {
    background: color(border);
    padding: 1em;
    margin: 1em;

    div {
        margin: 1em;
    }
}

#studiedToday {
    margin: 2em 0;
}
