/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */
@use "../../../../../ts/lib/sass/root-vars";
@use "../../../../../ts/lib/sass/vars" as *;
@use "../../../../../ts/lib/sass/card-counts";
@use "../../../../../ts/lib/sass/elevation" as *;

table {
    padding: 1rem;
    border-collapse: separate;
    border-spacing: 0 0.35rem;

    .fancy & {
        border: 1px solid color-mix(in srgb, var(--border-subtle) 60%, #d4dae3 40%);
        border-radius: 14px;

        @include elevation(1, $opacity-boost: -0.08);
        &:hover {
            @include elevation(2);
        }
        background: color-mix(in srgb, var(--canvas-glass) 85%, #f6f8fb 15%);
    }
}

a.deck {
    color: color(fg);
    text-decoration: none;
    min-width: 5em;
    display: inline-block;
}

a.deck:hover {
    text-decoration: underline;
}

th {
    border-bottom: 1px solid color(border-subtle);
    padding-bottom: 5px;
}

tr.deck td {
    padding: 1px 12px;
    border-bottom: 1px solid var(--border-subtle);

    .fancy & {
        border: unset;
        padding: 8px 14px;
        background: color-mix(in srgb, var(--canvas) 88%, #f6f8fb 12%);
        &:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        &:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}

tr.top-level-drag-row td {
    border-bottom: 1px solid transparent;
}

td {
    white-space: nowrap;
}

tr.drag-hover td {
    border-bottom: 1px solid color(border);
}

body {
    margin: 2em 1em 1em 1em;
    -webkit-user-select: none;
}

.current,
tr:hover:not(.top-level-drag-row) {
    td {
        background: color-mix(in srgb, color(border-subtle) 65%, #edf1f8 35%);
        &:first-child {
            border-top-left-radius: prop(border-radius-medium);
            border-bottom-left-radius: prop(border-radius-medium);
        }
        &:last-child {
            border-top-right-radius: prop(border-radius-medium);
            border-bottom-right-radius: prop(border-radius-medium);
        }
        .gears {
            visibility: visible;
        }
    }
}
[dir="rtl"] {
    .current,
    tr:hover:not(.top-level-drag-row) {
        td {
            background: color(canvas-inset);
            &:first-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-top-right-radius: prop(border-radius-medium);
                border-bottom-right-radius: prop(border-radius-medium);
            }
            &:last-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-top-left-radius: prop(border-radius-medium);
                border-bottom-left-radius: prop(border-radius-medium);
            }
        }
    }
}

.decktd {
    min-width: 15em;
    max-width: calc(100vw - 300px);
    overflow: hidden;
}

.count {
    min-width: 4em;
    text-align: right;
}

.optscol {
    width: 2em;
}

.collapse {
    color: color(fg);
    text-decoration: none;
    display: inline-block;
    width: 1em;
}

.filtered {
    color: color(fg-link) !important;
}

.gears {
    width: 1em;
    height: 1em;
    opacity: 0.65;
    padding-top: 0.2em;
    cursor: pointer;
    visibility: hidden;
}

.nightMode {
    .gears {
        filter: invert(180);
    }
}

.callout {
    background: color(border);
    padding: 1em;
    margin: 1em;

    div {
        margin: 1em;
    }
}

#studiedToday {
    margin: 1.3rem 0;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    background: color-mix(in srgb, var(--canvas) 90%, #f3f6fb 10%);
}
