/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

.field {
    border: 1px solid var(--border);
    background: var(--frame-bg);
    padding: 5px;
    overflow-wrap: break-word;
    overflow: auto;

    &:empty::after {
        content: "\A";
        white-space: pre;
    }
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fname {
    vertical-align: middle;
    padding: 0;
}

img {
    max-width: 90%;
}

body {
    margin: 0;
}

#topbuts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    position: sticky;
    top: 0;
    left: 0;
    padding: 2px;
}

.topbut {
    width: 16px;
    height: 16px;
    margin-top: 4px;
}

.rainbow {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #f77),
        color-stop(50%, #7f7),
        color-stop(100%, #77f)
    );
}

button.linkb {
    -webkit-appearance: none;
    border: 0;
    box-shadow: none;
    padding: 0px 2px;
    background: transparent;

    &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }

    .nightMode & > img {
        filter: invert(180);
    }
}

button:focus {
    outline: none;
}

button.highlighted {
    .nightMode #topbutsleft & {
        background: linear-gradient(0deg, #333333 0%, #434343 100%);
    }

    #topbutsleft & {
        background-color: lightgrey;
    }

    #topbutsright & {
        border-bottom: 3px solid #000;
    }
}

.dupe {
    background: var(--flag1-bg);
}

#dupes a {
    color: var(--link);
}

.drawing {
    zoom: 50%;
}
.nightMode img.drawing {
    filter: unquote("invert() hue-rotate(180deg)");
}
