/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

@use "../../../../../ts/lib/sass/root-vars";
@use "../../../../../ts/lib/sass/vars" as *;
@use "../../../../../ts/lib/sass/card-counts";

:root {
    --focus-color: #{palette-of(border-focus)};

    .isMac {
        --focus-color: rgba(0 103 244 / 0.247);
    }
}

body {
    margin: 0;
    padding: 0;
}

#middle td[align="center"] {
    padding-top: 10px;
    position: relative;
}

button {
    min-width: 60px;
    white-space: nowrap;
    margin: 9px;
    position: relative;
    border-top-color: color(border-subtle);
}

.answerButton,
.answerButton:hover {
    border-style: solid;
}

.answerButton:focus {
    border-style: dashed;
}

.answerButton,
.answerButton:hover,
.answerButton:focus {
    border-width: 2px;
}

.answerIncorrect,
.answerIncorrect:hover,
.answerIncorrect:focus {
    border-color: #e01b24;
}

.answerCorrect,
.answerCorrect:hover,
.answerCorrect:focus {
    border-color: #2ec27e;
}

.hitem {
    margin-top: 2px;
}

.stat {
    padding-top: 10px;

    @media (max-width: 583px) {
        display: none;
    }
}

.stat2 {
    padding-top: 10px;
    font-weight: normal;
}

:focus {
    border-color: color(border-focus);
}

.nobold,
.stattxt {
    position: absolute;
    white-space: nowrap;
    font-size: small;
    top: -3px;
    left: 50%;
    transform: translate(-50%, -100%);
    font-weight: normal;
    display: inline-block;
}

.spacer {
    height: 18px;
}

.spacer2 {
    height: 16px;
}

#outer {
    border-top: 1px solid color(border);
    /* Better compatibility with graphics pad/touchscreen */
    -webkit-user-select: none;
}

.nightMode {
    #outer {
        border-top-color: color(border-subtle);
    }
}
