/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

hr {
    background-color: #ccc;
}

body {
    margin: 20px;
    overflow-wrap: break-word;
    background-color: var(--window-bg);
}

// explicit nightMode definition required
// to override default .card styling
body.nightMode {
    background-color: var(--window-bg);
    color: var(--text-fg);
}

img {
    max-width: 95%;
    max-height: 95vh;
}

#_flag {
    position: fixed;
    right: 10px;
    top: 0;
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#_mark {
    position: fixed;
    left: 10px;
    top: 0;
    font-size: 30px;
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#typeans {
    width: 100%;
    // https://anki.tenderapp.com/discussions/beta-testing/1854-using-margin-auto-causes-horizontal-scrollbar-on-typesomething
    box-sizing: border-box;
}

.night-mode #typeans {
    background-color: var(--frame-bg);
    color: var(--text-fg);
}

.typeGood {
    background: #afa;
    color: black;
}

.typeBad {
    color: black;
    background: #faa;
}

.typeMissed {
    color: black;
    background: #ccc;
}

.replay-button {
    text-decoration: none;
    display: inline-flex;
    vertical-align: middle;
    margin: 3px;

    svg {
        width: 40px;
        height: 40px;

        circle {
            fill: #fff;
            stroke: #414141;
        }

        path {
            fill: #414141;
        }
    }
}

.nightMode {
    .latex {
        filter: invert(100%);
    }
}

.drawing {
    zoom: 50%;
}
.nightMode img.drawing {
    filter: unquote("invert(1) hue-rotate(180deg)");
}
