/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

@use "sass/root-vars";
@use "sass/vars" as *;
@use "sass/elevation" as *;
@use "sass/button-mixins" as button;

.toolbar {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-bottom-left-radius: prop(border-radius-large);
    border-bottom-right-radius: prop(border-radius-large);
    @include elevation(1, $opacity-boost: -0.1);

    // elevated state (deck browser, overview)
    body:not(.flat) & {
        background: var(--canvas-elevated);
        @include elevation(1);
        &:hover {
            @include elevation(2);
        }
    }

    // glass effect
    background: var(--canvas-glass);backdrop-filter: unset;
    // qt 5.14 doesn't support backdrop-filter: blur
    body:not(.no-blur) & {
        backdrop-filter: blur(var(--blur));
    }

    body.collapsed & {
        transform: translateY(-100vh);
    }

    transition: all var(--transition) ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    overflow: hidden;
}

* {
    -webkit-user-drag: none;
}

.hitem {
    font-weight: bold;
    padding: 6px 12px 8px;
    text-decoration: none;
    color: color(fg);
    display: inline-block;

    body:not(.flat) &,
    &:hover {
        @include button.base($border: false);
        background: var(--canvas-elevated);
    }
    &:first-child {
        padding-left: 18px;
    }
    &:last-child {
        padding-right: 18px;
    }
}

.hitem:focus {
    outline: 0;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.spin {
    width: 16px !important;
    animation: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    display: inline-block;
    visibility: visible !important;
    animation-timing-function: linear;
    transition: all var(--transition) ease-in;
}

#sync-spinner {
    height: 16px;
    margin-bottom: -3px;
    visibility: hidden;
    width: 0;
}

.normal-sync {
    color: color(state-new);
}

.full-sync {
    color: color(state-learn);
}
