/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

@use "sass/root-vars";
@use "sass/vars" as *;
@use "sass/elevation" as *;
@use "sass/button-mixins" as button;

body {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    overflow: hidden;
}

* {
    -webkit-user-drag: none;
}

.top_toolbar {
    padding: 0;
    margin: 0;
    border-block-end: 1px solid color(border);
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.hitem {
    font-weight: bold;
    padding: 6px clamp(4px, 1.2vw, 1.5rem) 5px;
    text-decoration: none;
    color: color(fg);
    display: inline-block;
    border: none;
    background-color: transparent;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    &:hover {
        background: var(--button-bg);
        @include button.impressed-shadow(0.35);
        cursor: pointer;
    }
}

.hitem:focus {
    outline: 0;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.spin {
    width: 16px !important;
    animation: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    display: inline-block;
    visibility: visible !important;
    animation-timing-function: linear;
    transition: all 0.2s ease-in;
}

#sync-spinner {
    height: 16px;
    margin-bottom: -3px;
    visibility: hidden;
    width: 0;
}

.normal-sync {
    color: color(state-new);
}

.full-sync {
    color: color(state-learn);
}
