/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

@use "sass/root-vars";
@use "sass/vars" as *;
@use "sass/elevation" as *;
@use "sass/button-mixins" as button;

#header {
    padding-bottom: 4px;
    margin-top: -3px;
}

.tdcenter {
    white-space: nowrap;
    border-radius: prop(border-radius);
    border-bottom-left-radius: prop(border-radius-large);
    border-bottom-right-radius: prop(border-radius-large);
    @include button.base($with-hover: false, $with-active: false);
    overflow: hidden;
    padding: 0;
    @include elevation(1, $opacity-boost: -0.08);
    &:hover {
        @include elevation(2);
        transition: box-shadow 0.2s linear;
    }
}

body {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    overflow: hidden;
}

* {
    -webkit-user-drag: none;
}

.hitem {
    font-weight: bold;
    padding: 8px 14px;
    text-decoration: none;
    color: color(fg);
    display: inline-block;
    @include button.base;
    border: none;
    &:first-child {
        padding-left: 18px;
    }
    &:last-child {
        padding-right: 18px;
    }
}

.hitem:focus {
    outline: 0;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.spin {
    width: 16px;
    animation: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    display: inline-block;
    visibility: visible !important;
    animation-timing-function: linear;
    transition: all 0.2s ease-in;
}

#sync-spinner {
    height: 16px;
    margin-bottom: -3px;
    visibility: hidden;
    width: 0;
}

.normal-sync {
    color: color(state-new);
}

.full-sync {
    color: color(state-learn);
}
