/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

body {
    overflow: hidden;
}

#header {
    border-bottom: 0;
    margin-top: 0;
    padding: 9px;
}
