/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

@use "sass/scrollbar";
@use "sass/buttons";

* {
    // border-box would be better, but we need to
    // keep the old behaviour for now to avoid breaking
    // add-ons/card templates
    box-sizing: content-box;
}

body {
    color: var(--text-fg);
    background: var(--window-bg);
    transition: opacity 0.5s ease-out;
    margin: 2em;
    overscroll-behavior: none;
}

a {
    color: var(--link);
    text-decoration: none;
}

h1 {
    margin-bottom: 0.2em;
}

.night-mode {
    @include scrollbar.night-mode;
}
