/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

@use "sass/scrollbar";
@use "sass/buttons";

* {
    // border-box would be better, but we need to
    // keep the old behaviour for now to avoid breaking
    // add-ons/card templates
    box-sizing: content-box;
}

body {
    color: var(--fg-default);
    background: var(--canvas-default);
    transition: opacity 0.5s ease-out;
    margin: 2em;
    overscroll-behavior: none;
    @include scrollbar.custom;
}

a {
    color: var(--accent-link);
    text-decoration: none;
}

h1 {
    margin-bottom: 0.2em;
}
