/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

@use 'ts/sass/core';
@use 'ts/sass/scrollbar';
@use 'ts/sass/buttons';

// core.scss sets border-box, but we need to
// keep the old behaviour for now to avoid breaking
// add-ons/card templates
* {
    box-sizing: content-box;
}

body {
    margin: 2em;
    overscroll-behavior: none;
}

h1 {
    margin-bottom: 0.2em;
}

.nightMode {
    @include scrollbar.night-mode;
}
