*.mo
*.pyc
*\#
*~
.*.swp
.build
.coverage
.DS_Store
.mypy_cache
.pytype
__pycache__
aqt/forms
tools/runanki.system
ts/node_modules
aqt_data/locale
aqt_data/web/deckbrowser.js
aqt_data/web/editor.js
aqt_data/web/overview.js
aqt_data/web/reviewer-bottom.js
aqt_data/web/reviewer.js
aqt_data/web/webview.js
dist
aqt.egg-info
build
