[MASTER]
persistent = no
extension-pkg-whitelist=PyQt5
ignore = forms,hooks_gen.py

[TYPECHECK]
ignored-modules=win32file,pywintypes,socket,win32pipe,winrt,pyaudio
ignored-classes=
  BrowserColumns,
  BrowserRow,
  SearchNode,
  ConfigKey,
  OpChanges,
  UnburyDeckRequest,
  CardAnswer,
  QueuedCards,
  ChangeNotetypeRequest,

[REPORTS]
output-format=colorized

[MESSAGES CONTROL]
disable=C,R,
  fixme,
  unused-wildcard-import,
  attribute-defined-outside-init,
  redefined-builtin,
  wildcard-import,
  broad-except,
  bare-except,
  unused-argument,
  unused-variable,
  redefined-outer-name,
  global-statement,
  protected-access,
  arguments-differ,
