-r requirements.base.in
-r requirements.anki.in
-r requirements.aqt.in

black
compare-locales
isort
mock
mypy
mypy-protobuf
pip-tools
pylint
pytest
PyChromeDevTools
fluent.syntax
types-decorator
types-flask
types-flask-cors
types-markdown
types-orjson
types-protobuf
types-requests
types-waitress

# transitive windows dependencies
atomicwrites
colorama
