.row {
  /* ensures text is center-aligned */
  line-height: 2em;
  height: 2em;

  overflow: hidden;

  background-color: white;

  padding-left: 0.5em;
  padding-right: 0.5em;
}

.rowAlt {
  background-color: #eee;
}

.rowSelected {
  background-color: #77f;
}
