button {
  border: none;
  background: none;
  width: 1em;
}

.nodeOuter {
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
  transition: 1s ease-in;
  transition-property: height;
}

.nodeInner {
  padding: 5px;
}

.counts {
  float: right;
  font-size: smaller;
  text-align: right;
}

.new {
  color: #000099;
}
.due {
  color: #007700;
}

.dueTable {
  max-width: 50em;
  min-width: 40vw;
  margin-left: auto;
  margin-right: auto;
}
