[package]
name = "anki"
version = "2.1.24"  # automatically updated
edition = "2018"
authors = ["Ankitects Pty Ltd and contributors"]
license = "AGPL-3.0-or-later"
description = "Anki's Rust library code"
readme = "README.md"

[dependencies]
nom = "5.0.1"
failure = "0.1.7"
prost = "0.6.1"
bytes = "0.5.4"
chrono = "0.4.10"
lazy_static = "1.4.0"
regex = "1.3.3"
hex = "0.4.0"
blake3 = "0.2.1"
htmlescape = "0.3.1"
sha1 = "0.6.0"
unicode-normalization = "0.1.12"
tempfile = "3.1.0"
serde = "1.0.104"
serde_json = "1.0.45"
tokio = "0.2.11"
serde_derive = "1.0.104"
zip = "0.5.4"
serde_tuple = "0.4.0"
coarsetime = "=0.1.11"
utime = "0.2.1"
serde-aux = "0.6.1"
unic-langid = { version = "0.8.0", features = ["macros"] }
fluent = { git = "https://github.com/ankitects/fluent-rs.git", branch="32bit-panic" }
intl-memoizer = { git = "https://github.com/ankitects/fluent-rs.git", branch="32bit-panic" }
num-format = "0.4.0"
slog = { version = "2.5.2", features = ["max_level_trace", "release_max_level_debug"] }
slog-term = "2.5.0"
slog-async = "2.4.0"
slog-envlogger = "2.2.0"
serde_repr = "0.1.5"
num_enum = "0.4.2"
# pinned as any changes could invalidate sqlite indexes
unicase = "=2.6.0"
futures = "0.3.4"

# pinned until rusqlite 0.22 comes out
[target.'cfg(target_vendor="apple")'.dependencies.rusqlite]
version = "0.22"
features = ["trace", "functions", "collation"]

[target.'cfg(not(target_vendor="apple"))'.dependencies.rusqlite]
version = "0.22"
features = ["trace", "functions", "collation", "bundled"]

[target.'cfg(linux)'.dependencies]
reqwest = { version = "0.10.1", features = ["json", "socks", "native-tls-vendored"] }

[target.'cfg(not(linux))'.dependencies]
reqwest = { version = "0.10.1", features = ["json", "socks"] }

[build-dependencies]
prost-build = "0.6.1"
fluent-syntax = "0.9.2"

