<manifest xmlns:tools="http://schemas.android.com/tools"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <!-- To use AndroidX Test APIs on Activity sub-classes, you must have valid
             Activity entries in your AndroidManifest -->
        <activity
            android:name="com.ichi2.anki.TestCardTemplatePreviewer">
        </activity>
    </application>
</manifest>