@import "sass/base";

// override Bootstrap transition duration
$carousel-transition: 0.2s;

@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/close";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/badge";
@import "sass/bootstrap-forms";
@import "sass/bootstrap-tooltip";
