@use "sass/vars";

@import "sass/base";
@import "sass/bootstrap/scss/containers";
@import "sass/bootstrap/scss/grid";
@import "sass/bootstrap/scss/dropdown";
@import "sass/bootstrap/scss/buttons";
@import "sass/bootstrap/scss/button-group";
@import "sass/bootstrap/scss/transitions";
@import "sass/bootstrap/scss/modal";
@import "sass/bootstrap/scss/close";
@import "sass/bootstrap/scss/alert";
@import "sass/bootstrap/scss/badge";
@import "sass/bootstrap-forms";
@import "sass/bootstrap-tooltip";

textarea.form-control {
    color: var(--text-fg);
    background-color: var(--frame-bg) !important;
}
