@import "sass/base";

// override Bootstrap transition duration
$carousel-transition: var(--transition);

@import "bootstrap/scss/buttons";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/close";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/badge";
@import "sass/bootstrap-forms";
@import "sass/bootstrap-tooltip";

input[type="text"] {
    padding-inline: 0.5rem;
    background: var(--canvas-inset);
}

input {
    color: var(--fg);
}

// Setting 100% height causes the sticky element to hide as you scroll down on Safari.
html { height: initial; }
