.image-occlusion-canvas {
    --inactive-shape-color: #ffeba2;
    --active-shape-color: #ff8e8e;
    --inactive-shape-border: 1px #212121;
    --active-shape-border: 1px #212121;
}

.card {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
}

#container {
    position: relative;
}

img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#canvas {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
