#image-occlusion-canvas {
    --inactive-shape-color: lightgray;
    --active-shape-color: royalblue;
    --inactive-shape-border: 1px black;
    --active-shape-border: 1px black;
    --highlight-shape-color: transparent;
    --highlight-shape-border: 1px royalblue;
}

.card {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
}
