[MASTER]
ignore-patterns=.*_pb2.*
persistent = no
extension-pkg-whitelist=orjson

[TYPECHECK]
ignored-classes=
  BrowserColumns,
  BrowserRow,
  HelpPage,
  FormatTimespanRequest,
  CardAnswer,
  QueuedCards,
  UnburyDeckRequest,
  BuryOrSuspendCardsRequest,
  NoteFieldsCheckResponse,
  BackendError,
  SetDeckCollapsedRequest,
  ConfigKey,
  HelpPageLinkRequest,
  StripHtmlRequest,
  CustomStudyRequest,
  Cram,
  ScheduleCardsAsNewRequest,

[REPORTS]
output-format=colorized

[MESSAGES CONTROL]
disable=
  R,
  line-too-long,
  too-many-lines,
  missing-function-docstring,
  missing-module-docstring,
  missing-class-docstring,
  import-outside-toplevel,
  wrong-import-position,
  wrong-import-order,
  fixme,
  unused-wildcard-import,
  attribute-defined-outside-init,
  redefined-builtin,
  wildcard-import,
  broad-except,
  bare-except,
  unused-argument,
  unused-variable,
  redefined-outer-name,
  global-statement,
  protected-access,
  arguments-differ,
  arguments-renamed,
  consider-using-f-string,

[BASIC]
good-names =
  id,
  tr,
  db,
  ok,
  ip,
