#header {
    font-weight: normal;
}

a {
    margin-right: 1em;
}

.hitem {
    overflow: hidden;
    white-space: nowrap;
}

.hitem img {
    padding: 1px;
}

.buttonOn {
    border: 1px solid #aaa;
    padding: 0 !important;
}
